---
layout: default
title: Zprávy
permalink: /zpravy
---

<section class="lg:pb-40">
  <div class="mx-auto md:max-w-2xl lg:max-w-5xl">
    <div id="entry-contorls" class="flex px-2 mb-2">
      <!-- . -->
      {% include btn-lg.html class="btn-filter" content="Abecendě" tag="Navrh"
      %}
      <!-- . -->
      {% include btn-lg.html class="btn-filter" content="Prioritně"
      tag="prioritne" %}
      <!-- . -->
      {% include btn-lg.html class="btn-filter" content="Články" tag="prioritne"
      %}
      <!-- . -->
      {% include btn-lg.html class="btn-filter" content="Podcasty"
      tag="prioritne" %}
      <!-- . -->
      {% include btn-lg.html class="btn-filter" content="Videa" tag="prioritne"
      %}
      <!-- . -->
    </div>
    <div
      id="article-entries"
      class="grid grid-cols-1 md:grid-cols-2"
      data-view="cards"
    >
      {% for post in site.data.news | sort: 'weight' %}
      <!-- -- -->
      {%- include article-card.html -%}
      <!-- -- -->
      {% endfor %}
    </div>
  </div>
</section>
