---
layout: default
title: Ocenění
location: Ocenění
---

<section>
  <div class="max-w-lg mx-auto my-10 px-4 pb-24">
    {% assign projects = site.projects | sort: 'year' %}
    <!-- . -->
    {%- for project in projects -%}
    <!-- . -->
    {% if project.awards[0] %}
    <div class="text-2xl pt-20 pb-5">
      <span>{{project.title}}</span>
    </div>
    <!-- . -->
    {%- for item in project.awards -%}
    <!-- . -->
    <div class="mb-10">
      <div class="text-sm text-gray-500 mb-2">
        {{ item.placement }}
      </div>
      <div class="text-lg">
        {% if item.link != "" %}
        <a class="hover:text-blue-600 cursor-pointer" href="{{ item.link }}"
          >{{ item.name }}</a
        >
        {% else %} {{ item.name }} {% endif %}
        <span class=""> ({{ item.year }}) </span>
      </div>

      <div class="text-sm text-gray-500 mb-2">
        {{ project.title }}
      </div>
    </div>
    {%-endfor -%} {%- endif -%} {%- endfor -%}
  </div>
</section>
