---
layout: default
title: Ocenění
location: oceneni
---

<section class="pb-32">
  <div class="max-w-lg mx-auto px-4">
    {% assign projects = site.projects | sort: 'weight' %}
    <!-- . -->
    {%- for project in projects -%}
    <!-- . -->
    {% if project.awards[0] %}
    <div class="text-2xl pt-20 pb-5">
      {{project.title}}
    </div>
    <!-- . -->
    {%- for item in project.awards -%}
    <!-- . -->
    {% if item.link and item.link != "" %}
    <a class="block hover:bg-gray-300" href="{{ item.link }}">
      {% endif %}
      <div class="py-3 border-b border-gray-400">
        <div class="text-sm text-gray-500 mb-2">
          {{ item.placement }}
        </div>
        <div class="text-lg">
          <!-- . -->
          {{ item.title }}
        </div>
        {% if item.link and item.link != "" %}
        <div class="text-sm text-gray-500 mb-2">
          Přejít na stránky ocenění
        </div>
        {% endif %}
      </div>
      {% if item.link and item.link != "" %}
    </a>
    {% endif %} {%-endfor -%} {%- endif -%} {%- endfor -%}
  </div>
</section>
