<div class="p-1">
  <a
    target="_blank"
    href="{% if post.link != '' %}{{post.link}}{% elsif post.copy != '' %}{{site.img_url}}{{post.copy}}{% else %}/{% endif %}"
    class="
      flex flex-col
      md:flex-row
      border-2
      bg-white
      border-gray-400
      hover:border-blue-600
      h-full
      rounded-md
      overflow-hidden
    "
  >
    <div class="md:w-1/3 md:order-2">
      <img
        src="{{ site.img_url }}c_thumb,h_500,w_500{{post.thumb}}"
        alt="article img size-cover bg-cover"
        style="width: 100%; height: 100%"
      />
    </div>
    <div class="flex-1 flex flex-col p-4 text-left">
      <h4 class="flex-1 pb-4">{{post.title}}</h4>
      <div class="flex text-sm text-gray-500">
        <h5>{{post.source}}</h5>
        <span>&nbsp;|&nbsp;</span>
        <h6>{{ post.date | date: "%-d. %-m. 20%-y" }}</h6>
      </div>
    </div>
  </a>
</div>
