<table class="w-full text-lg">
    <tr>
      <th class="uppercase text-xs py-2 border-0 border-b-2 border-gray-400 text-gray-400">
        Název
      </th>
      <th class="uppercase text-xs py-2 border-0 border-b-2 border-gray-400 text-gray-400">
          Lokace
        </th>
      <th class="uppercase text-xs py-2 border-0 border-b-2 border-gray-400 text-gray-400">
          Kategorie
      </th>
      <th class="uppercase text-xs py-2 border-0 border-b-2 border-gray-400 text-gray-400">
           Rok
        </th>
      
    </tr>
    {% assign items = site.projects | sort: 'weight' %}
    {%- for item in items -%}
    <tr class="hover:bg-gray-300 entrie" data-tag="{{item.category}}">
        <th class="py-4 border-0 border-b-2 border-gray-400">
          <a href="{{item.url}}">
           {{item.title}} 
          </a>
        </th>
        <th class="py-4 border-0 border-b-2 border-gray-400">
          {{item.location}}
        </th>
        <th class="py-4 border-0 border-b-2 border-gray-400">
            {{item.category}}
        </th>
        
        <th class="py-4 border-0 border-b-2 border-gray-400">
          {{item.year}}
        </th>
    </tr>
    {%-endfor -%}
  </table>
</div>