<table class="w-full text-lg">
    <tr>
      <th class="uppercase text-xs py-2 border-0 border-b-2 border-gray-400 text-gray-400">
        Název
      </th>
      <th class="uppercase text-xs py-2 border-0 border-b-2 border-gray-400 text-gray-400">
          Lokace
        </th>
      <th class="uppercase text-xs py-2 border-0 border-b-2 border-gray-400 text-gray-400">
          Kategorie
      </th>
      <th class="uppercase text-xs py-2 border-0 border-b-2 border-gray-400 text-gray-400">
           Rok
        </th>
      
    </tr>
    {% assign items = site.projects | sort: 'weight' %}
    {%- for item in items -%}
    
    <tr class="hover:bg-gray-300 entrie" data-tag="{{item.category}}">
        <th class="border-0 border-b-2 border-gray-400">
          <a class="block py-4" href="{{item.url}}"><span>{{item.title}} </span></a>
          
        </th>
        <th class="border-0 border-b-2 border-gray-400">
            <a class="block py-4" href="{{item.url}}"><span>{{item.location}}</span></a>
          
        </th>
        <th class="border-0 border-b-2 border-gray-400">
            <a class="block py-4" href="{{item.url}}"><span>{{item.category}}</span></a>
            
        </th>
        
        <th class="border-0 border-b-2 border-gray-400">
            <a class="block py-4" href="{{item.url}}"><span>{{item.year}}</span></a>
          
        </th>
    </tr>
    {%-endfor -%}
  </table>
</div>