<div class="swiper-container" data-swiper="cards-lg">
  <div class="swiper-wrapper">
    <!-- HOW CO LOOP PROJECTS OR LOOP PUBLICATIONS? -->

    {% assign items = site.projects | where: "category", include.category | sort: 'weight'
    %}

    <!-- mark -->
    {%- for item in items limit: 6 -%}
    <div class="swiper-slide w-2/3 lg:w-2/5">
      <a
        class="block"
        style="margin-right: 4px;"
        href="{{ site.baseurl }}{{ item.url }}"
      >
        <img
          class="w-full object-cover overflow-hidden border-2 border-gray-400 hover:border-gray-600 transition"
          src="{{ site.img_url }}c_thumb,h_500,w_800{{ item.images[0] }}"
          alt="{{ project.title }}, {{ site.title }}"
        />
        <div class="py-2 px-3">
          {% if item.location %}
          <p class="">
            {{ item.location }}
            <span class="text-gray-500">•&nbsp;{{ item.title }}</span>
          </p>
          {% else %}
          <p class="">{{ item.title }}</p>
          {% endif %}
        </div>
      </a>
    </div>
    {%- endfor -%}
  </div>
  <div class="swiper-prev absolute inset-y-0 left-0 w-16 z-10"></div>
  <div class="flex swiper-next absolute inset-y-0 right-0 w-16 z-10 into-dark">
    <div class="self-center text-center h-16 w-16 rounded-full ">
      <div class="pt-3 text-2xl">
        ⟶
      </div>
    </div>
  </div>
</div>
