<div class="swiper-container" data-swiper="cards-lg">
  <div class="swiper-wrapper">
    <!-- HOW CO LOOP PROJECTS OR LOOP PUBLICATIONS? -->

    {% assign items = site.projects | where: "category", include.category |
    sort: 'weight' %}

    <!-- mark -->
    {%- for item in items limit: 6 -%}
    <div class="swiper-slide w-2/3 lg:w-2/5">
      <a
        class="block hover:text-blue-600 transition bg-gray-300"
        href="{{ site.baseurl }}{{ item.url }}"
      >
        <img
          class="w-full object-cover overflow-hidden border-2 border-gray-400 hover:border-blue-500 transition"
          src="{{ site.img_url }}c_thumb,h_500,w_800{{ item.images[0] }}"
          alt="{{ page.title }}, {{ site.title }}, Mp architekti"
        />
        <div class="py-2 px-3">
          <p class="">{{ item.title }}</p>
        </div>
      </a>
    </div>
    {%- endfor -%}
  </div>
  <div class="swiper-prev absolute inset-y-0 left-0 w-16 z-10"></div>
  <div
    class="flex swiper-next outline-none absolute inset-y-0 right-0 w-16 z-10 mr-1"
  >
    <div
      class="self-center text-center h-16 w-16 bg-blue-200 hover:bg-blue-500 shadow rounded-full transition"
    >
      <div class="text-2xl" style="margin-top: 0.6em">⟶</div>
    </div>
  </div>
</div>
