<header
  class="flex-col md:flex-row md:fixed w-full flex top-0 z-50 pt-4 pb-8 px-4"
  role="banner"
>
  <div class="w-full md:w-1/5">
    <a
      class="text-2xl text-semibold text-gray-600"
      href="{{ site.baseurl }}/"
      alt="go to homepage"
    >
      {{ site.title }}</a
    >
  </div>
  <div class="page-title w-full md:w-3/5 md:text-center">
    {% if page.layout == "project" %}
    <!-- . -->
    {% if page.location %}
    <a href="{{site.baseurl}}/projekty" class="text-2xl">
      {{ page.location }}
      <span>✗</span>
    </a>
    {% else %}
    <a href="{{site.baseurl}}/projekty" class="text-4xl md:text-2xl">
      {{ page.title }}
      <span>✗</span>
    </a>
    {% endif %}
    <!-- . -->
    {% endif %}
  </div>
  <div class="fixed md:w-1/5 md:text-right right-0 mx-4">
    <button id="main-nav__button" class="nav-hamburger">
      <div></div>
      <div></div>
      <div></div>
    </button>
  </div>
</header>
{% include nav.html navigation=site.data.navigation %}
