<div class="swiper-mode-controls fixed bottom-0 z-10 m-4">
  <button mode="slide" class="btn-mode px-2 text-base text-gray-500" id="slide">
    Auto
  </button>

  <!-- <span class="inline-block">
    <button
      mode="scroll"
      class="btn-mode px-2 text-base text-gray-500"
      id="scroll"
    >
      Scroll
    </button>
    <input
      id="scroll-speed"
      class="range block md:inline"
      type="range"
      value="30"
      min="10"
      max="50"
      step="1"
      name="lineHeight"
    />
  </span> -->
</div>
