<nav id="navmenu" class="fixed w-full min-h-full top-0 right-0 z-10 hidden">
  {% assign navurl = page.url | remove: 'index.html' %}
  <ul class="man-nav__items mx-auto mt-40">
    {% for item in include.navigation %}
    <li>
      <a
        class="flex py-5 px-4 md:px-10 bg-gray-200 hover:bg-gray-300 mb-1 text-3xl lg:text-4xl transition"
        href="{{ item.url | relative_url }}"
        {% if item.url == navurl %} data-current="current page"{% endif %}
        >
        <div class="flex-grow">{{ item.text }} </div>
        <div>⟶</div>
        </a
      >
    </li>
    {% endfor %}
  </ul>
</nav>
