<nav id="navmenu" class="fixed w-full min-h-full top-0 right-0 z-10 hidden">
  {% assign navurl = page.url | remove: 'index.html' %}
  <ul class="man-nav__items mx-auto mt-20 border-solid border-t-2 border-gray-600">
    {% for item in include.navigation %}
    <li>
      <a
        class="flex py-5 px-6 hover:bg-gray-300 text-3xl lg:text-4xl border-solid border-b-2 border-gray-600"
        href="{{ item.url | relative_url }}"
        {% if item.url == navurl %} data-current="current page"{% endif %}
        >
        <div class="flex-grow">{{ item.text }} </div>
        
        
        <div>⟶</div>
        </a
      >
    </li>
    {% endfor %}
  </ul>
</nav>
