<table class="table-auto w-full text-lg">
  <tr>
    <td class="w-1/3 py-2 border-0 border-b border-gray-400 text-gray-500">
      Název
    </td>
    <th class="py-2 border-0 border-b border-gray-400">
      {{page.title}}
    </th>
  </tr>
  <tr>
    <td class="w-1/3 py-2 border-0 border-b border-gray-400 text-gray-500">
      Lokace
    </td>
    <th class="py-2 border-0 border-b border-gray-400">
      {{page.location}}
    </th>
  </tr>
  <tr>
    <td class="w-1/3 py-2 border-0 border-b border-gray-400 text-gray-500">
      Cena
    </td>
    <th class="py-2 border-0 border-b border-gray-400">
      {{page.price}}
    </th>
  </tr>
  <tr>
    <td class="w-1/3 py-2 border-0 border-b border-gray-400 text-gray-500">
      Rozloha
    </td>
    <th class="py-2 border-0 border-b border-gray-400">
      {{page.size}}
    </th>
  </tr>
  <tr>
    <td class="w-1/3 py-2 border-0 border-b border-gray-400 text-gray-500">
      Investor
    </td>
    <th class="py-2 border-0 border-b border-gray-400">
      {{page.investor}}
    </th>
  </tr>
  <tr>
    <td class="w-1/3 py-2 border-0 border-b border-gray-400 text-gray-500">
      Rok
    </td>
    <th class="py-2 border-0 border-b border-gray-400">
      {{page.year}}
    </th>
  </tr>
</table>
