<a
  class="block max-w-xs overflow-hidden rounded bg-white border-2 border-gray-300 hover:border-blue-600 hover:text-blue-600 transition"
  href="{{ site.baseurl }}{{ item.url }}"
>
  <img
    class="h-48 w-full object-cover"
    src="{{ site.img_url }}c_thumb,h_600,w_1000{{ item.images[0] }}"
    alt="{{ page.title }}, {{ site.title }}"
  />
  <div class="py-2 px-3">
    <p class="text-lg">{{ include.headline }}</p>
    <!-- <p class="text-lg text-gray-600">{{ item.title }}</p> -->
    <p class="text-lg text-gray-600">{{ include.subline }}</p>
  </div>
</a>
