<div class="rounded overflow-hidden shadow-xl bg-white mb-4 mx-auto">
  <a class="block" href="{{ item.url }}">
    <img
      class="h-48 w-full object-cover"
      src="{{ site.img_url }}c_thumb,h_300,w_500{{ item.images[0] }}"
      alt="{{ project.title }}, {{ site.title }}"
    />
    <div class="py-2 px-3">
      <p class="text-lg">{{ item.location }}</p>
      <!-- <p class="text-lg text-gray-600">{{ item.title }}</p> -->
      <p class="text-lg text-gray-600">{{ item.title }}</p>
    </div>
  </a>
</div>
