<div class="p-1">
  <div
    class="swiper-slide rounded overflow-hidden shadow-lg bg-gray-100 border-2 border-gray-300 hover:border-blue-500 hover:text-blue-600 transition"
  >
    <a class="block" href="{{ site.baseurl }}{{ item.url }}">
      <img
        class="w-full object-cover"
        src="{{ site.img_url }}c_thumb,h_300,w_500{{ item.images[0] }}"
        alt="{{ page.title }}, {{ site.title }}"
      />
      <div class="py-2 px-3">
        {% if item.location %}
        <p class="text-lg">{{ item.location }}</p>
        <p class="text-lg text-gray-600">{{ item.title }}</p>
        {% else %}
        <p class="text-lg">{{ item.title }}</p>
        {% endif %}
      </div>
    </a>
  </div>
</div>
