@import url("https://rsms.me/inter/inter.css");

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "swiper/swiper.scss";

.menu-is-open {
  //overflow: hidden;
  main {
    filter: blur(10px);
  }
}

header {
  background: linear-gradient(
    to bottom,
    rgba(237, 242, 247, 1) 0%,
    rgba(237, 242, 204, 0) 100%
  );
}

nav {
  background-color: rgba(200, 200, 200, 0.7);
}

.swiper-container[mode="scroll"] {
  height: auto;

  .swiper-wrapper {
    flex-direction: column;
  }

  .swiper-slide {
    height: 80vh;
    margin-bottom: 2em;
  }
}

.swiper-container[mode="scroll"],
.swiper-container[mode="strobo"] {
  .swiper-next,
  .swiper-prev {
    display: none;
  }
}

.swiper-next {
  right: 0;
  cursor: e-resize;
}

.swiper-prev {
  cursor: w-resize;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

.swiper-pagination-bullet-active {
  opacity: 0.7;
}

.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 4px;
}

/* .swiper-container {
  overflow: visible;
} */

.swiper-pagination {
  text-align: center;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

table {
  text-align: left;
}

th,
td {
  font-weight: normal;
  border: 3px solid #edf2f7;
}

.map-location {
  display: none;
  &.open {
    display: block;
  }
}

button:focus {
  outline: none;
}

.max-w-xxs {
  max-width: 15rem;
}

.text-xxl {
  font-size: 2rem;
}

.text-block p {
  margin-bottom: 2rem;
}

.max-h-70 {
  max-height: 50vh;

  @media (min-width: 720px) {
    max-height: 70vh;
  }
}

.h-70 {
  height: 50vh;

  @media (min-width: 720px) {
    height: 70vh;
  }
}
