---
layout: default
---

<section>
  <div class="max-w-lg mx-auto text-4xl my-12 px-4 text-block">
    {{ page.desription }}
  </div>
</section>
<section>
  <p class="max-w-lg px-4 mx-auto">
    {%- include btn-lg.html content="Životopis" href="/zivotopis.html" -%} {%-
    include btn-lg.html content="Ocenění" href="/oceneni.html" -%} {%- include
    btn-lg.html content="Spolupráce" href="/spoluprace.html" -%}
  </p>
</section>
<section>
  <div class="max-w-lg mx-auto text-lg my-12 px-4 text-block pb-24">
    {{ content }}
  </div>
</section>
