---
layout: default
---

<section class="pb-20 lg:pb-32 lg:pt-10">
  <div class="max-w-2xl mx-auto text-gray-700 px-4">
    <!-- <div class="text-center pb-24">
      <img class="inline w-32" src="{{ site.img_url }}{{ page.logo }}" alt="" />
    </div> -->
    <h1 class="text-2xl lg:text-4xl mb-8">
      {{page.headline}}
    </h1>
    <div class="max-w-xl text-gray-700 text-xl">
      {{ content }}  
    </div>
  </div>
</section>
<section class="mx-auto pb-32">
  <p class="text-gray-700 mb-4 px-4 uppercase">Projekty</p>
    {%- include gallery-cards-lg.html -%}

    <div class="px-1 pt-8 max-w-2xl mx-auto">
      <a
        class="
          text-xl
          flex
          px-4
          py-4
          rounded
          btn-1
          hover:bg-blue-200
          transition
        "
        href="{{site.baseurl}}/projekty/"
      >
        <div class="flex-grow">Všechny projekty</div>
        <div>⟶</div>
      </a>
    </div>
  </div>
</section>
<!-- end of actual -->
<p class="text-gray-700 mb-4 px-4 uppercase">Mapa projektů</p>
<section class="homepage-map">{%- include map.html type="projects" -%}</section>
<section id="actualities" class="pb-16 pt-32">
  <div class="max-w-4xl mx-auto">
    <p class="text-gray-700 mb-4 px-4 uppercase">Aktuality</p>

    <!-- mark -->
    <div class="grid grid-cols-1 md:grid-cols-2 mx-auto">
      {% assign today_date = 'now' | date: '%s' %}
      <!-- --- -->
      {% assign posts = site.data.actual %}
      <!-- --- -->
      {% for post in posts %} {% assign post_end = post.end | date: '%s' %}
      <!-- -- -->
      {% if post_end > today_date %}
      <a class="p-1 block actual-entry {% if post.link == '' %}pointer-events-none{% endif %}" data-date="{{ post_end }}" 
      href="{% if post.link != '' %}{{post.link}}{% elsif post.copy != '' %}{{site.img_url}}{{post.copy}}{% else %}/{% endif %}"
      target="_blank"
      >
        <div class="bg-white rounded p-4 shadow-lg">
          <p class="text-xl md:text-xl mb-4">{{post.content}}</p>
          <p class="text-gray-700">
            {{ post.start | date: "%-d. %-m. 20%-y" }}
          </p>
        </div>
      </a>
      {% endif %} {% endfor %}
    </div>
  </div>
</section>
<section class="pb-32 pt-32">
  <div class="max-w-4xl mx-auto">
    <!-- mark -->
    <div class="flex justify-center mx-auto">
      <a class="h-32 lg:h-56 p-2 mx-10 block cursor-pointer rounded border hover:border-blue-200" href="https://www.architect-plus.cz/top100/">
        <img src="https://res.cloudinary.com/dhxmg9p4i/image/upload/v1625229306/archweb/Top100_2021.png" alt="" class="block h-full w-auto">
      </a> 
      <a class="h-32 lg:h-56 p-1 mx-10 cursor-pointer rounded border hover:border-blue-200" href="https://www.german-design-award.com/en/the-winners/gallery/detail/27983-4courts-park.html">
        <img src="https://res.cloudinary.com/dhxmg9p4i/image/upload/v1625230013/archweb/award.png" alt="" class="block h-full w-auto">
      </a> 
      </div>
    <div class="px-1 pt-8 max-w-xl mx-auto">
      <a
        class="
          flex
          px-4
          py-4
          rounded
          btn-1
          hover:bg-blue-200
          transition
          text-xl
        "
        href="{{site.baseurl}}/oceneni"
      >
        <div class="flex-grow">Všechny ocenění</div>
        <div>⟶</div>
      </a>
    </div>
  </div>
</section>
<section class="pb-32">
  <div class="max-w-4xl mx-auto">
    <p class="text-gray-700 mb-4 px-4 uppercase">Studio ve zprávách</p>
    <!-- mark -->
    <div class="grid grid-cols-1 md:grid-cols-2 mx-auto">
      {% for post in site.data.news | limit: 4 %} {%- include article-card.html
      -%} {% endfor %}
    </div>
    <div class="px-1 pt-8 max-w-4xl mx-auto">
      <a
        class="
          text-xl
          flex
          px-4
          py-4
          rounded
          btn-1
          hover:bg-blue-200
          transition
        "
        href="{{site.baseurl}}/zpravy"
      >
        <div class="flex-grow">Všechny zprávy</div>
        <div>⟶</div>
      </a>
    </div>
  </div>
</section>

<section class="mx-auto pb-32">
  <div class="max-w-4xl mx-auto">
    <p class="text-gray-700 mb-4 px-4 uppercase">Knihy</p>
  </div>
  {%- include gallery-cards.html category="Kniha" -%}
  <div class="px-1 pt-8 max-w-4xl mx-auto">
    <a
      class="
        text-xl
        flex
        px-4
        py-4
        rounded
        btn-1
        hover:bg-blue-200
        transition
      "
      href="{{site.baseurl}}/projekty?category=Kniha"
    >
      <div class="flex-grow">Všechny knihy</div>
      <div>⟶</div>
    </a>
  </div>
</div>
</section>
<section class="mx-auto pb-32 max-w-4xl">
    <p class="text-gray-700 mb-4 px-4 uppercase">Filmové spolupráce</p>
    <div class="grid grid-cols-1 md:grid-cols-2 mx-auto">
      {% assign posts = site.projects | where: "category", "Film" | sort: 'weight' %}

      {% for post in posts | limit: 4 %} {%- include film-card.html
      -%} {% endfor %}
    </div>

    <div class="px-1 pt-8 max-w-4xl mx-auto">
      <a
        class="
          text-xl
          flex
          px-4
          py-4
          rounded
          btn-1
          hover:bg-blue-200
          transition
        "
        href="{{site.baseurl}}/projekty?category=Film"
      >
        <div class="flex-grow">Všechny filmové spolupráce</div>
        <div>⟶</div>
      </a>
    </div>
  </div>
</section>
<!-- <section class="pb-32">
  <div class="max-w-2xl text-xl text-gray-700 mx-auto px-4 text-block">
    Naším přáním je kvalitní život lidí užívajících svůj obytný prostor.
    Věříme, že i malý detail může významně pomoci a pozitivně ovlivňovat životy lidí.
    Krása je nutnou součástí života každého z nás.
  </div>
  <div class="px-1 pt-8 max-w-2xl mx-auto">
    <a
      class="
        text-xl
        flex
        px-4
        py-4
        rounded
        btn-1
        hover:bg-blue-200
        transition
      "
      href="{{site.baseurl}}/studio"
    >
      <div class="flex-grow">O Studiu</div>
      <div>⟶</div>
    </a>
  </div>
</section> -->
