---
layout: default
---

<section class="pb-20 lg:pb-32 lg:pt-10">
  <div class="max-w-2xl text-gray-700 mx-auto px-4">
    <!-- <div class="text-center pb-24">
      <img class="inline w-32" src="{{ site.img_url }}{{ page.logo }}" alt="" />
    </div> -->
    <h1 class="text-2xl lg:text-4xl mb-8">
      {{page.headline}}
    </h1>
    <div class="text-gray-500 text-xl">
      {{ content }}  
    </div>
  </div>
</section>
<section class="mx-auto pb-32">
  <p class="text-gray-600 mb-4 px-4">Projekty</p>
    {%- include gallery-cards-lg.html -%}

    <div class="px-1 pt-8 max-w-2xl mx-auto">
      <a
        class="
          text-2xl
          flex
          px-4
          py-4
          rounded
          btn-1
          hover:bg-blue-200
          transition
        "
        href="{{site.baseurl}}/projekty/"
      >
        <div class="flex-grow">Výpis projektů</div>
        <div>⟶</div>
      </a>
    </div>
  </div>
</section>

<!-- --- -->


<!-- end of actual -->
<p class="text-gray-600 mb-4 px-4">Mapa projektů</p>
<section class="homepage-map">{%- include map.html type="projects" -%}</section>
<section id="actualities" class="pb-16 pt-32">
  <div class="max-w-4xl mx-auto">
    <p class="text-gray-600 mb-4 px-4">Aktuality</p>

    <!-- mark -->
    <div class="grid grid-cols-1 md:grid-cols-2 mx-auto">
      {% assign today_date = 'now' | date: '%s' %}
      <!-- --- -->
      {% assign posts = site.data.actual %}
      <!-- --- -->
      {% for post in posts %} {% assign post_end = post.end | date: '%s' %}
      <!-- -- -->
      {% if post_end > today_date %}
      <a class="p-1 block actual-entry {% if post.link == '' %}pointer-events-none{% endif %}" data-date="{{ post_end }}" 
      href="{% if post.link != '' %}{{post.link}}{% elsif post.copy != '' %}{{site.img_url}}{{post.copy}}{% else %}/{% endif %}"
      target="_blank"
      >
        <div class="bg-white rounded p-4 shadow-lg">
          <p class="text-xl md:text-2xl mb-4">{{post.content}}</p>
          <p class="text-gray-600">
            {{ post.start | date: "%-d. %-m. 20%-y" }}
          </p>
        </div>
      </a>
      {% endif %} {% endfor %}
    </div>
  </div>
</section>
<section class="pb-32 pt-32">
  <div class="max-w-4xl mx-auto">
    <p class="text-gray-600 mb-4 px-4">Studio ve zprávách</p>
    <!-- mark -->
    <div class="grid grid-cols-1 md:grid-cols-2 mx-auto">
      {% for post in site.data.news | limit: 4 %} {%- include article-card.html
      -%} {% endfor %}
    </div>
    <div class="px-1 pt-8 max-w-4xl mx-auto">
      <a
        class="
          text-2xl
          flex
          px-4
          py-4
          rounded
          bg-blue-200
          hover:bg-blue-200
          transition
        "
        href="{{site.baseurl}}/zpravy"
      >
        <div class="flex-grow">Další zprávy</div>
        <div>⟶</div>
      </a>
    </div>
  </div>
</section>

<section class="mx-auto pb-32">
  <div class="max-w-4xl mx-auto">
    <p class="text-gray-600 mb-4 px-4">Knihy</p>
  </div>
  {%- include gallery-cards.html category="Kniha" -%}
  <div class="px-1 pt-8 max-w-4xl mx-auto">
    <a
      class="
        text-2xl
        flex
        px-4
        py-4
        rounded
        bg-blue-200
        hover:bg-blue-200
        transition
      "
      href="{{site.baseurl}}/projekty?category=Kniha"
    >
      <div class="flex-grow">Další knihy</div>
      <div>⟶</div>
    </a>
  </div>
</div>
</section>
<section class="mx-auto pb-32">
    <p class="text-gray-600 mb-4 px-4">Filmové spolupráce</p>
    {%- include gallery-cards-lg.html category="Film" -%}

    <div class="px-1 pt-8 max-w-4xl mx-auto">
      <a
        class="
          text-2xl
          flex
          px-4
          py-4
          rounded
          bg-blue-200
          hover:bg-blue-200
          transition
        "
        href="{{site.baseurl}}/projekty?category=Film"
      >
        <div class="flex-grow">Další filmové spolupráce</div>
        <div>⟶</div>
      </a>
    </div>
  </div>
</section>
<section class="pb-32">
  <div class="max-w-4xl text-2xl text-gray-700 mx-auto px-4 text-block">
    Naším přáním je kvalitní život lidí užívajících svůj obytný prostor.
    <br/>
    Věříme, že i malý detail může významně pomoci a pozitivně ovlivňovat životy lidí.
    Krása je nutnou součástí života každého z nás.
  </div>
  <div class="px-1 pt-8 max-w-4xl mx-auto">
    <a
      class="
        text-2xl
        flex
        px-4
        py-4
        rounded
        bg-blue-200
        hover:bg-blue-200
        transition
      "
      href="{{site.baseurl}}/studio"
    >
      <div class="flex-grow">O Studiu</div>
      <div>⟶</div>
    </a>
  </div>
</section>
