---
layout: default
---

<section>
  <div class="max-w-xl text-2xl text-gray-700 mx-auto mb-40 px-4 text-block">
    <div class="text-center pb-24">
      <img class="inline w-32" src="{{ site.img_url }}{{ page.logo }}" alt="" />
    </div>
    {{ content }}
  </div>
</section>
<section class="bg-gray-200">
  <div class="container mx-auto px-4 pt-24 pb-24">
    {%- include projects-gallery.html -%}

    <div class="mt-8 mx-auto max-w-sm">
      {%- include btn-lg.html content="Projekty" href="/projekty" -%}
    </div>
  </div>
</section>
<section>
  {%- include map.html -%}
</section>
