---
layout: default
---

<section>
  <div class="max-w-md mx-auto my-10 px-4">
    {%- include label-hr.html content="E-mail" -%} {{
    site.data.information.email }}
  </div>
</section>
<section>
  <div class="max-w-md mx-auto my-10 px-4">
    {%- include label-hr.html content="Adresa" -%}
    <ul>
      <li>{{ site.data.information.post_adress.street }}</li>
      <li>{{ site.data.information.post_adress.city }}</li>
      <li>{{ site.data.information.post_adress.postcode }}</li>
    </ul>
  </div>
</section>
<section>
  <div class="max-w-md mx-auto my-10 px-4">
    {%- include label-hr.html content="Telefon" -%} {% for member in
    site.data.information.members %}
    <ul class="mb-5">
      <li>
        {{ member.name }}
      </li>
      <li>
        {{ member.position }}
      </li>
      <li>
        {{ member.phone }}
      </li>
    </ul>

    {% endfor %}
  </div>
</section>
