---
layout: default
---

<!--
<div class="  mx-auto px-4">
  {%- include label.html content="Filtrování" -%}
</div>
 <section class="bg-gray-400 py-6 ">
  <div class="mx-auto px-4">
    <div class="">
      {% include btn-lg.html content="Stavby" %} {% include btn-lg.html
      content="Návrhy" %} {% include btn-lg.html content="Filmy" %} {% include
      btn-lg.html content="Články" %} {% include btn-lg.html content="Výstavy"
      %}
    </div> 
    <div class="">
      {% include btn-md.html content="Města" %} {% include btn-md.html
      content="Vesnice" %} {% include btn-md.html content="Volná krajina" %} {%
      include btn-md.html content="Výtvarné prvky" %}
    </div>
  </div>
</section> -->
<section class="py-16 lg:pb-40">
  {%- include project-entries.html -%}
</section>
