---
layout: default
---

<section class="pb-12">
  <div class="max-w-lg mx-auto text-2xl px-4 text-block">
    {{ page.desription }}
  </div>
</section>
<section class="pb-16">
  <div class="max-w-lg mx-auto px-4 flex">
    <div class="w-1/2">
      <div>
        <img
          srcset="
    {{ site.img_url }}w_300{{ site.data.studio.members[1].portret }} 500w,
    {{ site.img_url }}w_500{{ site.data.studio.members[1].portret }} 710w,
    {{ site.img_url }}w_700{{ site.data.studio.members[1].portret }} 1000w,
    {{ site.img_url }}w_700{{ site.data.studio.members[1].portret }} 1420w"
          src="{{ site.img_url }}w_500{{site.data.studio.members[1].portret }}"
          sizes="100vw"
          alt="{{ site.data.studio.members[1].name }}, {{ site.data.studio.members[1].name }}"
          class="max-h-70 object-contain mx-auto"
        />
      </div>

      <div>
        <p class="text-xs pt-5 pr-2">{{ site.data.studio.members[1].name }},</p>
        <p class="text-xs pr-2 text-gray-500">
          {{site.data.studio.members[1].position}}
        </p>
      </div>
    </div>
    <div class="w-1/2">
      <div>
        <img
          srcset="
    {{ site.img_url }}w_300{{ site.data.studio.members[0].portret }} 500w,
    {{ site.img_url }}w_500{{ site.data.studio.members[0].portret }} 710w,
    {{ site.img_url }}w_700{{ site.data.studio.members[0].portret }} 1000w,
    {{ site.img_url }}w_700{{ site.data.studio.members[0].portret }} 1420w"
          src="{{ site.img_url }}w_500{{site.data.studio.members[0].portret }}"
          sizes="100vw"
          alt="{{ site.data.studio.members[0].name }}, {{ site.data.studio.members[0].name }}"
          class="max-h-70 object-contain mx-auto"
        />
      </div>

      <div>
        <p class="text-xs pt-5 pr-2">{{ site.data.studio.members[0].name }},</p>
        <p class="text-xs pr-2 text-gray-500">
          {{site.data.studio.members[0].position}}
        </p>
      </div>
    </div>
  </div>
</section>
<section class="pb-12">
  <div class="max-w-lg px-4 mx-auto text-xl">
    <div class="border-2 rounded border-gray-400">
      <a
        class="flex px-5 py-3 block border-b-2 border-gray-400 hover:bg-gray-300"
        href="{{site.baseurl}}/zivotopis.html"
      >
        <div class="flex-grow">Životopisy</div>
        <div>⟶</div>
      </a>

      <a
        class="flex px-5 py-3 border-b-2 border-gray-400 hover:bg-gray-300"
        href="{{site.baseurl}}/oceneni.html"
      >
        <div class="flex-grow">Ocenění</div>
        <div>⟶</div>
      </a>

      <a
        class="flex px-5 py-3 hover:bg-gray-300"
        href="{{site.baseurl}}/spoluprace.html"
      >
        <div class="flex-grow">Spolupráce</div>
        <div>⟶</div>
      </a>
    </div>
  </div>
</section>
<section class="pb-20">
  <div class="max-w-lg mx-auto text-lg px-4 text-block">{{ content }}</div>
</section>
<section class="bg-gray-200">
  <div class="mx-auto">
    {%- include gallery-cards-lg.html category="Film" -%}

    <div class="px-4 pt-20 pb-24 max-w-xl mx-auto">
      <a
        class="text-2xl flex px-5 py-3 rounded bg-gray-400 hover:bg-blue-200 transition"
        href="{{site.baseurl}}/projekty?category=Film"
      >
        <div class="flex-grow">Filmy</div>
        <div>⟶</div>
      </a>
    </div>
  </div>
</section>
